name: Docker Compose CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Containerization with Docker Compose
        env:
          DB_NAME: counter
          DB_USERNAME: client
          DB_PASSWORD: secret
        run: docker-compose up -d
      - name: Endpoint test
        run: sudo docker run --network=host appropriate/curl -s --retry 3 --retry-connrefused http://localhost:8080/
